@font-face {
    font-family: "Vinque";
    src: url(../fonts/vinque.rg-regular.otf) format("opentype-variations");
}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: default;
    user-select: none;
    font-size: 1.4rem;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
header{
    background-color: dodgerblue;
    color: aliceblue;
    text-align: center;
    font-size: 3rem;
    width: 80%;
    padding: 10px;
    border: 9px ridge darkslateblue;
    margin: auto;
}
main{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
div{
    height: auto;
    width: auto;
}
#mainText{
    background-color: dodgerblue;
    color: aliceblue;
    border: 9px ridge darkslateblue;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.flexbox{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
}
.option{
    padding: 10px;
    margin: 5px;
    text-align: center;
    min-width: 550px;
    border-radius: 5px;
    border: 7px outset darkblue;
    transition: 0.2s;
}
.option:hover{
    border: 7px inset darkblue;
    background-color: steelblue;
    transition: 0.2s;
}
.button{
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 700px;
    border-radius: 5px;
    border: 7px outset darkblue;
    transition: 0.2s;
}
.button:hover{
    border: 7px inset darkblue;
    background-color: steelblue;
    transition: 0.2s;
}
div:empty{
    display: none;
}
img:empty{
    display: none;
}
.green{
    background-color: limegreen !important;
}
.red{
    background-color: firebrick !important;
}
#buttonToMainPage{
    position: absolute;
    float: left;
    background-color: dodgerblue;
    color: aliceblue;
    border: 9px ridge darkslateblue;
    text-align: center;
    font-size: 2rem;
    height: auto;
    width: auto;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
#buttonToMainPage a{
    display: inline;
    color:darkslategray;
    font-size: 1.5rem;
}